/dist
/node_modules
/.idea
/.vscode
*.log

# Angular build output
/angular-cache/
/.angular/

/tmp
/temp

# Environment files
src/environments/environment.prod.ts
src/environments/environment.ts

# Optional OS files
.DS_Store
Thumbs.db
